POSTGRES_USER=etl_project
POSTGRES_PASSWORD=password
POSTGRES_PORT=5432
POSTGRES_DB=taxi

DESTINATION__POSTGRES__CREDENTIALS=postgresql://etl_project:password@localhost:5432/taxi

MSSQL_SA_PASSWORD=PassworD123123
MSSQL_PORT=1433
